# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Binaries & Executables
Python_Server/bin/
*.exe
*.tmp

# VS Code & IDE
.vscode/
.idea/

# OS specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
